<div class="wrapper" id="wrapper">
    <header>
        <h1>Welcome to my website!</h1>
    </header>
    <div data-ng-include="'/views/parts/navigation.html'"></div>
    <main>
        <button id="customer-list-button">List customers</button>
        <button id="customer-list-londoners-button">List Londoners</button>
        <br />

        <div id="customer-details"></div>
        <div id="customer-list"></div>

        <div data-ng-include="'/views/lipsum.html'"></div>
    </main>
    <div data-ng-include="'/views/parts/sidebar.html'"></div>
    <footer>
        
    </footer>
</div>